.yadMessagerieTitreMessage {
  color: var(--title, #102844);
  font-family: 'DM Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
.yadMessagerieTitreMessageContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.yadMessagerieBtnAjout {
  background: none;
  border: none;
  height: auto;
  color: #084cb2;
  font-size: 26px;
}
.yadMessagerieCustomInputSearch,
.yadMessagerieCustomInputAddon {
  border-radius: 10px;
  background: var(--gray-shade, #f8f8fb);
  height: 48px;
  border: none;
  display: flex;
  align-items: center;
}
.yadMessagerieCustomInputSearch::placeholder {
  color: var(--paragraph, #767278);
  font-family: 'Poppins';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  opacity: 0.6;
}
.yadMessagerieCustomListGroup button.listGroupItem.listGroupItemAction.active {
  width: 100%;
  height: 100px;
  flex-shrink: 0;
  border-radius: 10px;
  border: none;
  /* background-color: rgb(246, 248, 255) !important;
  border-color: rgb(246, 248, 255) !important; */
  border-radius: 10px !important;
  opacity: 0.05 !important;
  background: var(--Main--Color, #4C6FFF) !important;
}
.yadMessagerieCustomListGroup button.listGroupItem.listGroupItemAction {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  height: 100px;
  padding: 15px 10px;
  position: relative;
}
.yadMessagerieListGroupNameContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.formatPseudo {
  width: 50px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 53px;
  border: 1px solid rgba(76, 111, 255, 0.1);
}
.yadMessagerieListGroupAvatar {
  width: 50px;
  height: 53px;
  border-radius: 53px;
  border: 1px solid rgba(76, 111, 255, 0.1);
}
.yadMessagerieListGroupName {
  color: var(--title, #102844);
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.yadMessagerieListGroupHeure {
  color: var(--title, #102844);
  text-align: right;
  font-family: 'DM Sans';
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}
.yadMessagerieCustomListGroup
  button.listGroupItem.listGroupItemAction.active
  .yadMessagerieListGroupApercu {
  color: var(--title, #102844);
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;

  width: 100%;
  height: 100px;
  flex-shrink: 0;
  border-radius: 10px;

  border: none;
  /* background-color: rgb(42, 61, 128) !important;
  border-color: rgb(246, 248, 255) !important; */
}
button.list-group-item.active,
button.listGroupItem.active,
button.btn.list-group-item._styles-module__listGroupItem__3sqmx._styles-module__listGroupItemAction__V2RJm.active {
  /* background-color: rgb(246, 248, 255) !important;
  border-color: rgb(246, 248, 255) !important; */
}
/* .list-group-item.active {
  border-radius: 10px !important;
  opacity: 0.05 !important;
  background: red !important;
} */
.yadMessagerieCustomListGroup .yadMessagerieListGroupApercu {
  color: var(--paragraph, #767278);
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}
.yadMessagerieListGroupCheckIconContainer {
  position: absolute;
  bottom: 0px;
  right: 10px;
}
.yadMessagerieListGroupCheckIcon {
  color: #102844;
  opacity: 0.5;
  font-size: 15px;
}
.yadMessagerieListGroupCheckIcon.details-mes {
  font-size: 10px;
}
/* ============================================== */

.btn-messagerie {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #586a84;
  background: transparent;
  border: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.btn-messagerie.active {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #3b4758;
  background: #e5f3ff;
  border-radius: 6px;
  border: 0;
}
.text-notif-message {
  width: 16px;
  height: 16px;
  background: #4845e5;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}

.checkbox-symbol {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}

.checkbox-container {
  box-sizing: border-box;
  background: #ffffff;
  color: #222;
}

.checkbox-container * {
  box-sizing: border-box;
}

.checkbox-input {
  position: absolute;
  visibility: hidden;
}

.checkbox {
  user-select: none;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 15px;
}

.checkbox:not(:last-child) {
  margin-right: 6px;
}

.checkbox:hover {
  background: rgba(0, 119, 255, 0.06);
}

.checkbox span {
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}

.checkbox span:first-child {
  position: relative;
  flex: 0 0 18px;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  transform: scale(1);
  border: 1px solid #cccfdb;
  transition: all 0.3s ease;
}

.checkbox span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transform: translate3d(0, 0, 0);
}

.checkbox span:last-child {
  padding-left: 8px;
  line-height: 18px;
}

.checkbox:hover span:first-child {
  border-color: #0077ff;
}

.checkbox-input:checked + .checkbox span:first-child {
  background: #0077ff;
  border-color: #0077ff;
  animation: zoom-in-out 0.3s ease;
}

.checkbox-input:checked + .checkbox span:first-child svg {
  stroke-dashoffset: 0;
}

@keyframes zoom-in-out {
  50% {
    transform: scale(0.9);
  }
}
.img-profil-mmessage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.text-name-profil-message {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #3b4758;
  white-space: nowrap;
}
.content-label-img-profil-mmessage {
  display: flex;
  gap: 10px;
  align-items: center;
}
.content-label-message {
  display: flex;
  gap: 30px;
  align-items: center;
}
.text-libelle-message {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #3b4758;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 65%;
}
.text-date-message {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #586a84;
}
.content-pagination-message {
  display: flex;
  gap: 15px;
  align-items: center;
}
.content-label-message-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header-bloc-message {
  padding: 20px 0;
  border-top: 0.5px solid #eef0f4;
  border-bottom: 0.5px solid #eef0f4;
}
.text-pagination-message {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #3b4758;
}
.dtailsMessagesTabsComponent {
  padding: 2%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.03);
  background: #fff;
}
.dtailsMessagesTabsComponent .dropdown-toggle::after {
  display: none;
}
.dtailsMessagesTabsComponent .inputGroup {
  padding: 10px;
  height: 60px;
  border-radius: 10px;
  background: var(--gray, #fafafb);
  width: 100%;
}
.dtailsMessagesTabsComponent .inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.dtailsMessagesTabsComponent .inputContainer :nth-child(1) {
  display: flex;
  gap: 10px;
  align-items: center;
}
.dtailsMessagesTabsComponent input {
  border: 0;
  outline: 0;
  background-color: transparent;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 19.0013px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #303030;
}
.dtailsMessagesTabsComponent .btnContainer button {
  width: 60px;
  height: 60px;
  padding: 19px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: #1c208f;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dtailsMessagesTabsComponent .leftFooterContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}
.dtailsMessagesTabsComponent .imgIconChat {
  cursor: pointer;
}
.dtailsMessagesTabsComponent .imgIconChat.send {
  color: #1c208f;
  font-size: 20px;
}
.parent-table-container-message-tabs {
  height: 700px;
  overflow-y: scroll;
  border-radius: 20px;
  background: #fff;
  padding: 20px;
}
.parent-table-container-message-tabs::-webkit-scrollbar {
  width: 4px;
}
.parent-table-container-message-tabs::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 10px;
}
.parent-table-container-message-tabs::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
  border: 3px solid transparent;
}
.btn-send-message-tabs {
  color: #4845e5;
}
.btn-send-message-tabs:hover {
  color: #4845e5;
}
.profilDetailMessage {
  color: var(--title, #102844);
  font-family: 'DM Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.timeDetailMessage {
  color: var(--paragraph, #767278);
  font-family: 'Nunito';
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}
/* .bloc-message-recu::after {
        background: #fafafa;
        width: 14.25px;
        height: 14.25px;
        border-radius: 50%;
        content: "";
        position: absolute;
        left: 0%;
        bottom: 36%;
    } */
.textMessageRecu {
  letter-spacing: 0.05em;
  color: #102844;
  background: #fafafa;
  border-radius: 10px 10px 10px 0px;
  padding: 10px 15px;
  color: var(--title, #102844);
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  max-width: 100%;
}
/* .bloc-message-envoyer::after {
        background: #4845E5;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        content: "";
        position: absolute;
        right: 0%;
        bottom: 23%;
    } */
.blocMessageEnvoyer {
  display: flex;
}
.textMessageEnvoyer {
  letter-spacing: 0.05em;
  border-radius: 10px 10px 0px 10px;
  background: var(--bleu, #1c208f);
  color: #fff;
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 10px 15px;
}
.bloc-details {
  width: 100%;
  padding: 40px 20px;
  height: 80%;
  overflow-y: scroll;
}
.bloc-details::-webkit-scrollbar {
  width: 4px;
}
.bloc-details::-webkit-scrollbar-track {
  background: #fff;
}
.bloc-details::-webkit-scrollbar-thumb {
  background-color: #4845e5;
  border-radius: 20px;
  border: 3px solid transparent;
}
.empty-chat-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 350px;
}
.bloc-profil-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nom-contact {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 13.4941px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #303030;
}

.nom-contact.active {
  color: #4845e5;
}
.time-message-contact {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 12.6675px;
  line-height: 15px;
  letter-spacing: 0.01em;
  color: #7c7c7c;
}
.contenu-message-contact {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 12.6675px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #303030;
}
.bloc-message-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .msg-user-infos-container {
          padding-left: 5%;
      } */
.textDisconnectTime {
  color: var(--title, #102844);
  font-family: 'DM Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.4000000059604645;
}
.containerDisplayInputMessage {
  width: 100%;
}
.textarrea-message-custom {
  background: transparent;
  width: 100%;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 15.8344px;
  line-height: 19px;
  letter-spacing: 0.05em;
}
.contentContentDetailMessageInfo {
  display: flex;
  gap: 10px;
  align-items: center;
}
.imgPpMessageRecieve {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.imageProfilEntete {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.img-expediteur {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.blocReponse {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 3%;
}
.blocMessageRecu {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.btnSendMessageModal {
  background: #126251;
  border-radius: 10px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 154.4%;
  color: #ffffff;
  padding: 15px;
}
.btnSendMessageModal:hover {
  background: #fff;
  border: 1px solid #126251;
  color: #126251;
}
.btnSendMessageModal.disabled {
  background: #e0e0e0;
  border-radius: 10px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 154.4%;
  color: #ffffff;
  padding: 15px;
}
.formSearchUser {
  width: 100%;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  letter-spacing: 0.01em;
  color: rgba(37, 39, 51, 0.8);
  padding: 15px 45px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  border-bottom: 1px solid #bdbdbd;
}
.userForSendMessage {
  list-style: none;
}
.userForSendMessageInfos h3 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #303030;
}
.userForSendMessageInfos h4 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #303030;
}
.imgProfilUserMessage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/* .btnAddNewChat {
    width: 24px;
    height: 24px;
    background: #126251;
    border-radius: 50%;
    font-size: 18px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  } */
.customContentMessageLeft {
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.07));
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: #fff;
  padding: 20px;
}
.customContentMessage {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.03);
  background: #fff;
}
.messagerieCustomTextarrea {
  background: none;
  border: none;
  border-radius: 0px;
}
.messagerieCustomTextarrea::placeholder {
  color: var(--title, #102844);
  font-family: 'DM Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}
.yadMessagerieListGroupAvatarContainer,
.contentImgPpChat {
  position: relative;
}
.yadMessagerieListGroupAvatarIndicator {
  position: absolute;
  bottom: -4px;
  right: 5px;
}
.yadMessagerieDetailMesAvatarIndicator {
  position: absolute;
  bottom: -4px;
  right: 0px;
}
.contentContentDetailMessageInfoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.yadMessageBtnPhoto {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background: var(--gray-shade, #f8f8fb);
  display: flex;
  align-items: center;
  justify-content: center;
}
.yadMessageBtnPhotoContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}
/* ================================================ */
.video-modal-praticien-avatar {
  width: 225.744px;
  height: 214.699px;
  border-radius: 16.567px;
  /* border: 2.761px solid #FFF; */
}
.video-modal-call-time-indicator {
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    #c4c3c2 0%,
    rgba(196, 195, 194, 0.25) 100%
  );
  color: #fff;
  font-family: 'Mulish';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 110px;
  height: 45px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.video-modal-praticien-avatar-time-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.video-call-modal-body-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.video-modal-btn-action {
  width: 35.997px;
  height: 35.997px;
  background: rgba(0, 0, 0, 0.52);
  backdrop-filter: blur(14.998612403869629px);
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-modal-btn-action.raccroche {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8.999px;
  background: #f8000f;

  width: 55.495px;
  height: 47.996px;
}
.video-modal-btn-action-icon-tel {
  transform: rotate(135deg);
  color: #fff;
  font-size: 25px;
}
.video-modal-btn-action.pause {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #f8000f;
  backdrop-filter: blur(14.998612403869629px);
  width: 35.997px;
  height: 35.997px;
}
.video-modal-btn-action.video {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: none;
  border: none;
}
.video-modal-btn-action-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.vocal-modal-praticien-avatar {
  width: 57px;
  height: 54.54px;
  border-radius: 57px;
}
.vocal-modal-praticien-avatar-container {
  width: 245.744px;
  height: 155px;
  background: rgb(62, 74, 95);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vocal-modal-praticien-image-container {
  display: flex;
  justify-content: center;
}
.call-modal-praticien-avatar {
  width: 139px;
  height: 133px;
  border-radius: 139px;
}
.noStyleBtnModal {
  background: none;
  border: none;
}
.colRightMessagerie {
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.07));
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.03);
  background: #FFF;
}

.listGroupItemMeessage {
  padding: 20px 15px;
  list-style: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.349);
  margin-bottom: 10px;
  cursor: pointer;
}
.listGroupItemMeessage:last-child {
  border-bottom: 0 !important;
}
.listGroupItemMeessage.active {
  background-color: #ffffff;
  border-radius: 10px;
  border-bottom: none;
}